<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>

  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1"/>
      </system.Web>
  -->
  <log4net>
    <!--错误日志配置-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\Log\\TimerReError\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaxFileSize" value="10240" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd.'log'" />
      <param name="RollingStyle" value="Date" />
      <param name="BufferSize" value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %n%m %n " />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Logs\LogFiletxt.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\LogFile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<datePattern value="yyyyMMdd-HHmm" />-->
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j"></layout>
    </appender>
    <appender name="CPFMPMOracleAppender" type="KMHC.CTMS.Common.Helper.Log.OracleAppender">
      <bufferSize value="1" />
      <connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <connectionString value="Data Source=//10.2.21.230:1521/orcl;User ID=cancerrecord;Password=cancerrecord;" />
      <commandText value="INSERT INTO CTMS_SYS_LOGINFO (LOGID, LOGTIME, LOGLEVEL, LOGMESSAGE, LOGEXCEPTION, LOGGER, LOGSOURCE) VALUES (SEQ_LOGINFO.nextval, :log_date, :log_level, :log_message, :log_exception, :logger, :source)" />
      <parameter>
        <parameterName value=":log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout"></layout>
      </parameter>
      <parameter>
        <parameterName value=":log_level" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <!--<parameter>
        <parameterName value=":log_identity" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%identity" />
        </layout>
      </parameter>-->
      <parameter>
        <parameterName value=":log_message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":log_exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":source" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%file:%line" />
        </layout>
      </parameter>
      <!--<parameter>
        <parameterName value=":title" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="KMHC.CPFM.PM.Infrastructure.Utility.Log.CustomLayout,KMHC.CPFM.PM.Infrastructure.Utility.Log">
          <param name="ConversionPattern" value="%property{Title}"/>
        </layout>
      </parameter>-->
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="ErrorAppender" />
      <!--<appender-ref ref="RollingLogFileAppender" />-->
      <appender-ref ref="CPFMPMOracleAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--本地-->
    <!--<add name="CRDatabase" connectionString="metadata=res://*/Database.CRDatabase.csdl|res://*/Database.CRDatabase.ssdl|res://*/Database.CRDatabase.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=192.168.10.58:1521/orcl;password=cancerrecord;persist security info=True;user id=CANCERRECORD&quot;" providerName="System.Data.EntityClient" />
    <add name="HRDatabase" connectionString="metadata=res://*/Database.HRDatabase.csdl|res://*/Database.HRDatabase.ssdl|res://*/Database.HRDatabase.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=192.168.10.58:1521/orcl;password=healthrecord;persist security info=True;user id=HEALTHRECORD&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/DAL.CancerReocrd.csdl|res://*/DAL.CancerReocrd.ssdl|res://*/DAL.CancerReocrd.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=192.168.10.58:1521/orcl;password=cancerrecord;persist security info=True;user id=CANCERRECORD&quot;" providerName="System.Data.EntityClient" />-->

    <!--本地调试阿里云数据库服务器-->
    <!--<add name="CRDatabase" connectionString="metadata=res://*/Database.CRDatabase.csdl|res://*/Database.CRDatabase.ssdl|res://*/Database.CRDatabase.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=120.27.136.127:1521/orcl;password=cancerrecord;persist security info=True;user id=CANCERRECORD&quot;" providerName="System.Data.EntityClient" />
    <add name="HRDatabase" connectionString="metadata=res://*/Database.HRDatabase.csdl|res://*/Database.HRDatabase.ssdl|res://*/Database.HRDatabase.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=120.27.136.127:1521/orcl;password=healthrecord;persist security info=True;user id=HEALTHRECORD&quot;" providerName="System.Data.EntityClient" />-->

    <add name="CRDatabase" connectionString="metadata=res://*/Database.CRDatabase.csdl|res://*/Database.CRDatabase.ssdl|res://*/Database.CRDatabase.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=114.55.91.31:1521/orcl;password=cimsTest123456;persist security info=True;user id=cimsTest&quot;" providerName="System.Data.EntityClient" />
    <add name="HRDatabase" connectionString="metadata=res://*/Database.HRDatabase.csdl|res://*/Database.HRDatabase.ssdl|res://*/Database.HRDatabase.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=114.55.91.31:1521/orcl;password=healthrecord;persist security info=True;user id=HEALTHRECORD&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/DAL.CancerReocrd.csdl|res://*/DAL.CancerReocrd.ssdl|res://*/DAL.CancerReocrd.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=192.168.10.58:1521/orcl;password=cimsTest123456;persist security info=True;user id=cimsTest&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="HEALTHRECORD" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.159.2)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>


  <enyim.com>
    <memcached>
      <servers>
        <!-- put your own server(s) here-->
        <!--<add address="10.2.21.239" port="11211" />-->
        <add address="127.0.0.1" port="11211" />

      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
</configuration>