<style>
    th, td {
        text-align: center;
    }

    .opt_edit {
        list-style: none;
        width: 90px;
        margin: 0 auto;
    }

        .opt_edit > li + li:before {
            content: "|";
            color: #808080;
            margin-right: 10px;
            margin-left: 10px;
        }

        .opt_edit > li {
            float: left;
        }

            .opt_edit > li > a {
                text-decoration: none;
                cursor: pointer;
            }
</style>
<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fa fa-fw fa-search-plus fa-lg"></i>
            <strong data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                查询条件
                <i class="fa fa-angle-down fa-fw pull-right"></i>
            </strong>
        </div>
        <div class="panel-collapse collapse in" id="collapseExample">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 col-lg-1 control-label " style="padding-top: 7px; margin-bottom: 0; text-align: right; ">开始日期</label>
                        <div class="col-md-3 col-lg-2">
                            <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" datepicker>
                                <input id="txt_DateStart" class="form-control" size="16" type="text" value="" ng-model="StartDate" placeholder="选择开始日期" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <label class="col-md-2 col-lg-1 control-label " style="padding-top: 7px; margin-bottom: 0; text-align: right; ">结束日期</label>
                        <div class="col-md-3 col-lg-2">
                            <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" datepicker>
                                <input id="txt_DateEnd" class="form-control" size="16" type="text" value="" ng-model="EndDate" placeholder="选择结束日期" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-info" ng-click="Search()">查询</button>
                        </div>
                        <label class="col-md-3 control-label " style="padding-top: 7px; margin-bottom: 0; text-align: right; ">从“开始日期 00:00:00”到“结束日期 23:59:59”</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main" class="col-lg-12" style="height:700px;"></div>
    <script type="text/javascript" src="/Scripts/echarts.min.js"></script>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">活跃度明细查询</h4>
            </div>
            <form ng-submit="processForm()" name="myForm">
                <div class="modal-body">
                    <div class="row head">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <label class="col-md-2 col-lg-1 control-label " style="padding-top: 7px; margin-bottom: 0; text-align: right; ">开始日期</label>
                                <div class="col-md-3 col-lg-2">
                                    <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" datepicker>
                                        <input id="txt_DateStart" class="form-control" size="16" type="text" value="" ng-model="ModelStartDate" placeholder="选择开始日期" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <label class="col-md-2 col-lg-1 control-label " style="padding-top: 7px; margin-bottom: 0; text-align: right; ">结束日期</label>
                                <div class="col-md-3 col-lg-2">
                                    <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" datepicker>
                                        <input id="txt_DateEnd" class="form-control" size="16" type="text" value="" ng-model="ModelEndDate" placeholder="选择结束日期" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" autocomplete="off" placeholder="请输入用户姓名或模块名称搜索" ng-model="Kwd" />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" ng-click="SearchDetails()">查询</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" style="table-layout:fixed;">
                                <caption>

                                </caption>
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>操作时间</th>
                                        <th>用户名</th>
                                        <th>功能名称</th>
                                        <td>功能编码</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in ModalData">
                                        <td>{{$index}}</td>
                                        <td>{{d.OPERATETIME|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{d.USERNAME}}</td>
                                        <td>{{d.MODELNAME}}</td>
                                        <td>{{d.MODELCODE}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="pager" class="pull-right"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--遮罩层-->
<div class="loading-modal" ng-show="loading">
    <div class="loading">
        <img src="/Content/images/loading.gif" alt="" /><span>处理中，请稍候...</span>
    </div>
</div>